{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Posts{% endblock %}</h1>
	{% if g.user %}
		<a class="action", href="{{ url_for('blog.create') }}">New</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% for post in posts %}
		<article class="post">
			<header>
				<div>
					<h1>{{ post['title'] }}</h1>
					<div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
				</div>
				<!-- ユーザが投稿記事の作者である場合は、その投稿記事にupdateのviewへリンクするEditが見える. -->
				{% if g.user['id'] == post['author_id'] %}
					<a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
				{% endif %}
			</header>
			<p class="body">{{ post['body'] }}</p>
		</article>
		<!-- loop.lastは、Jinjaのforループの内側で利用可能な特殊な変数. 
		     最後以外の各投稿記事の後で線を表示し、各行を表示分離させるために今回は利用. -->
		{% if not loop.last %}
			<hr>
		{% endif %}
	{% endfor %}
{% endblock %}